include partials/head.pug
header.header-main
  h1.heading-main Välkommen till Bilbokningen
  include partials/menu.pug
main
  section
    form#cancel(method="post" action="")
        fieldset.user-login
            legend
                h3 Skriv din email för att hitta dina bokningar
            label(for="email") E-post
            input(type="email" name="email" required) 
            input(type="submit")
    table.table#availableCars
      thead
      tbody#availableCarsBody
      if results
        each result in results
          tr
            td #{result.model} 
            td #{result.seats}
            if result.isAuto == true
              td Ja
            else
              td Nej
            if result.hasRoofrack == true
              td Ja
            else
              td Nej
            td #{result.price}
            td 
              each booking in result.booking   
                li #{booking.email} From: #{booking.startDate} To: #{booking.endDate} 
                button.btn.btn-default(name="cancel" onclick="cancelBooking('" + booking._id + "',this)") Cancel Booking
            
              

include partials/footer.pug
script(src='/javascripts/cancel.js')