script(src='/javascripts/booking.js')
include partials/head.pug
header.header-main
  h1.heading-main Välkommen till Bilbokningen
  include partials/menu.pug
main
  section.intro
    h2.heading-sub Tillgängliga bilar
  div.container
    table.table#availableCars
      thead
        tr
          th(onclick="sortTable(0)") Modell 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTableNum(1)") Platser 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTable(2)") Auto 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTable(3)") Roofrack 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTableNum(4)") Pris/dag 
            i.fa.fa-sort(aria-hidden="true")
          th
        tr
          td
            input.form-control#inputModel(onkeyup="filterBooking()")
          td
            input.form-control#inputSeats(placeholder="Minsta antal",type="number",onkeyup="filterBooking()")
          td
            select.form-control#inputAuto(onchange="filterBooking()")
              option(value="") Visa alla
              option(value="Ja") Ja
              option(value="Nej") Nej
          td
            select.form-control#inputRoofrack(onchange="filterBooking()")
              option(value="") Visa alla
              option(value="Ja") Ja
              option(value="Nej") Nej
          td
            input.form-control#inputPrice(placeholder="Högsta pris",type="number",onkeyup="filterBooking()")
          td
      tbody#availableCarsBody
      if results
        each result in results
          tr
            td #{result.model} 
            td #{result.seats}
            if result.isAuto == true
              td Ja
            else
              td Nej
            if result.hasRoofrack == true
              td Ja
            else
              td Nej
            td #{result.price}
            td 
              button.btn.btn-default(name="book" data-toggle="modal" data-target="#bookCarModal_" + result.id + "") Boka
              div.modal.fade(id="bookCarModal_" + result.id + "" role="dialog")
                div.modal-dialog
                  div.modal-content
                    div.modal-header
                      button.close(type="button" data-dismiss="modal") &times;
                      h4.modal-title Boka bil
                    div.modal-body
                      p
                        strong Modell: 
                        | #{result.model}
                      p 
                        strong Platser: 
                        | #{result.seats} 
                      p
                        strong Is auto: 
                        if result.isAuto == true
                          | Ja
                        else
                          | Nej
                      p
                        strong Roofrack: 
                        if result.hasRoofrack == true
                          | Ja
                        else
                          | Nej
                      p
                        strong Pris/dag: 
                        | #{result.price}
                      p
                        center
                          strong Bokning
                      p
                        Strong.email-input E-post: 
                        input.email-input.form-control(type="text" name='email' id="email_" + result.id + "") 
                      p
                        strong Från:
                        input.form-control.todaysdate(id="datefrom_" + result.id + "" ,type="date", name="startDate")
                      p
                        strong Till:
                        input.form-control.todaysdate(id="dateto_" + result.id + "" ,type="date" , name="endDate")
                    div.modal-footer
                      button.btn.btn-success(type="button" onclick="bookCar('" + result.id + "')") Boka 
                      div(align="left")
                        p
                          strong Ockuperade perioder:
                          each booking in result.booking 
                            p.dates From: #{booking.startDate} To: #{booking.endDate}
                           
                        
include partials/footer.pug

