block script
  script(src='/javascripts/sortbookingtable.js')
include partials/head.pug
header.header-main
  h1.heading-main Välkommen till Bilbokningen
  include partials/menu.pug
main
  section.intro
    h2.heading-sub  Available cars
  div.container
    table.table#availableCars
      thead
        tr
          th(onclick="sortTable(0)") Model 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTable(1)") Seats 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTable(2)") Auto 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTable(3)") Roofrack 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTable(4)") Price/day 
            i.fa.fa-sort(aria-hidden="true")
          th
        tr
          td
            input.form-control#inputModel(onkeyup="filterBooking()")
          td
            input.form-control#inputSeats(type="number",onkeyup="filterBooking()")
          td
            select.form-control#inputAuto(onchange="filterBooking()")
              option(value="") Visa alla
              option(value="true") Ja
              option(value="false") Nej
          td
            select.form-control#inputRoofrack(onchange="filterBooking()")
              option(value="") Visa alla
              option(value="true") Ja
              option(value="false") Nej
          td
            input.form-control#inputPrice(placeholder="Högsta pris",type="number",onkeyup="filterBooking()")
          td
      tbody#availableCarsBody
      if results
        each result in results
          tr
            td #{result.model} 
            td #{result.seats}
            td #{result.isAuto} 
            td #{result.hasRoofrack} 
            td #{result.price}
            td 
              button.btn.btn-default(name="book") Book    
include partials/footer.pug

