block script
  script(src='/javascripts/sortbookingtable.js')
  script(src='/javascripts/booking.js')
include partials/head.pug
header.header-main
  h1.heading-main Välkommen till Bilbokningen
  include partials/menu.pug
main
  section.intro
    h2.heading-sub  Available cars
  div.container
    table.table#availableCars
      thead
        tr
          th(onclick="sortTable(0)") Model 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTableNum(1)") Seats 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTable(2)") Auto 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTable(3)") Roofrack 
            i.fa.fa-sort(aria-hidden="true")
          th(onclick="sortTableNum(4)") Price/day 
            i.fa.fa-sort(aria-hidden="true")
          th
        tr
          td
            input.form-control#inputModel(onkeyup="filterBooking()")
          td
            input.form-control#inputSeats(placeholder="Minsta antal",type="number",onkeyup="filterBooking()")
          td
            select.form-control#inputAuto(onchange="filterBooking()")
              option(value="") Visa alla
              option(value="true") Ja
              option(value="false") Nej
          td
            select.form-control#inputRoofrack(onchange="filterBooking()")
              option(value="") Visa alla
              option(value="true") Ja
              option(value="false") Nej
          td
            input.form-control#inputPrice(placeholder="Högsta pris",type="number",onkeyup="filterBooking()")
          td
      tbody#availableCarsBody
      if results
        each result in results
          tr
            td #{result.model} 
            td #{result.seats}
            td #{result.isAuto} 
            td #{result.hasRoofrack} 
            td #{result.price}
            td 
              button.btn.btn-default(name="book" data-toggle="modal" data-target="#bookCarModal_" + result.id + "") Book
              div.modal.fade(id="bookCarModal_" + result.id + "" role="dialog")
                div.modal-dialog
                  div.modal-content
                    div.modal-header
                      button.close(type="button" data-dismiss="modal") &times;
                      h4.modal-title Book car
                    div.modal-body
                      p
                        strong Model: 
                        | #{result.model}
                      p 
                        strong Seats: 
                        | #{result.seats} 
                      p
                        strong Is auto: 
                        | #{result.isAuto} 
                      p
                        strong Roofrack: 
                        | #{result.hasRoofrack} 
                      p
                        strong Price/day: 
                        | #{result.price}
                      p
                        center
                          strong Booking
                      p
                        strong From:
                        input.form-control.todaysdate(id="datefrom_" + result.id + "" ,type="date", name="startDate")
                      p
                        strong To:
                        input.form-control.todaysdate(id="dateto_" + result.id + "" ,type="date" , name="endDate")
                    div.modal-footer
                      button.btn.btn-success(type="button" onclick="bookCar('" + result.id + "')") Book 
                      div(align="left")
                        p
                          strong Occupied periods:
                          each booking in result.booking 
                            p From: #{booking.startDate} To: #{booking.endDate}
                           
                        
include partials/footer.pug

