include partials/head.pug
header.header-main
  h1.heading-main Välkommen till Bilbokningen
main
  section
form(method="POST" action="" onSubmit="refreshPage()")
  label(for="model") Model
    input(name="model", required)
  label(for="seats") Seats
    select(name="seats")
      option(value="2") 2
      option(value="4") 4
      option(value="5") 5
  label(for="isAuto") Auto
    input(type="hidden" name="isAuto" value="false")
    input(type="checkbox" onclick="this.previousSibling.value=true")
  label(for="hasRoofrack") Roofrack
    input(type="hidden" name="hasRoofrack" value="false")
    input(type="checkbox" onclick="this.previousSibling.value=true")
  label(for="price") Price/Day
    input(name="price", required)
    input(type="submit")
ul Cars
  if results
    each result in results
      li Model: #{result.model} Seats: #{result.seats} Auto: #{result.isAuto} Roofrack: #{result.hasRoofrack} Price/day: #{result.price}
      button(type='button' onclick="deleteCar('" + result.id + "')") Remove
      

      
include partials/footer.pug
script(src='/javascripts/manage.js')